.uCenterText {
    text-align: center !important;
}

.uMarginBottomBig {
    margin-bottom: 8rem !important;
}

.uMarginBottomMedium {
    margin-bottom: 4rem !important;
}

.uMarginBottomSmall {
    margin-bottom: 1.5rem !important;
}

.uMarginTopBig {
    margin-top: 8rem !important;
}

.uMarginTopHuge {
    margin-top: 10rem !important;
}
