@import "../../../styles/scss/abstracts/variables";
@import "../../../styles/scss/base/utilities";

@import "../../../styles/scss/abstracts/mixins";
@import "../../../styles/scss/layout/grid";

.sectionFeatures {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,rgba($color-primary-light, 0.8),rgba($color-primary-dark,0.8)),url(/img/book-shelf.jpeg);
    background-size: cover;
    margin-top: -10rem;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}

.featureBox {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;
    

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        display: inline-block;
        background-clip: inherit;
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);

    }
}

