@import "../../styles/scss/abstracts/variables";

.books {
    grid-column: center-start / center-end;
    margin: 5rem 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    padding-bottom: 4rem;
}

.book {
    background-color: #fff;
    flex: 1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-left: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-left: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-left: 0;
        margin-bottom: 3rem;
    }
}

.heading4 {

    &:last-of-type {
        margin-bottom: 3rem;
    }


}

.paragraph {
    margin-bottom: 7rem;
}

